{% extends "transcode\index.html" %}
{% block content %}
<p>{{ transcode }}node_set</p>
<form role="form">
    <div class="form-group">
        <select class="form-control" id="case-num">
            <option>踢足球</option>
            <option>游泳</option>
            <option>慢跑</option>
            <option>跳舞</option>
        </select>
    </div>
</form>
<script>
  $(function(){
    $("#case-num").change(function(){
      alert($("#case-num").find("option:selected").text());

    })
  })

</script>

{% endblock %}