{% extends "transcode\index.html" %}
{% block content %}
<p>{{ transcode }}node_set</p>
<select class="combobox">
  <option></option>
  <option value="PA">Pennsylvania</option>
  <option value="CT">Connecticut</option>
  <option value="NY">New York</option>
  <option value="MD">Maryland</option>
  <option value="VA">Virginia</option>
</select>


<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox({
        onSelect:function(){
            alter('选定项时触发');
        },

        onUnselect:function(){
            alter('选定后触发！');
        },
    });
  });
</script>
{% endblock %}